.header__bottom
    .header__bottom__left
        %ul.header__bottom__left__nav
            %li
                %h2
                    %a.header__bottom__left__nav__icon{:href => "https://www.mercari.com/jp/category/"}
                        %i.material-icons list
                        %span カテゴリーから探す
            %li
                %h2
                    %a.header__bottom__left__nav__icon2{:href => "https://www.mercari.com/jp/brand/"}
                        %i.material-icons pageview
                        %span ブランドから探す
    .header__bottom__right