.items.clearfix
  %section.items__box
    %a{href: ""}
      %figure.items__box__photo
        %img{alt: "", "data-src": ""}/
      .items__box__body
        %h3.items__box-name.font-2 商品名
        .items__box__num
          .items__box__num__price.font-5 値段
          .font-2
            %i.icon-like-border
            %span
            %i.far.fa-heart
  %section.items__box
    %a{href: ""}
      %figure.items__box__photo
        %img{alt: "", "data-src": ""}/
      .items__box__body
        %h3.items__box-name.font-2 商品名
        .items__box__num
          .items__box__num__price.font-5 値段
          .font-2
            %i.icon-like-border
            %span
            %i.far.fa-heart
  %section.items__box
    %a{href: ""}
      %figure.items__box__photo
        %img{alt: "", "data-src": ""}/
      .items__box__body
        %h3.items__box-name.font-2 商品名
        .items__box__num
          .items__box__num__price.font-5 値段
          .font-2
            %i.icon-like-border
            %span
            %i.far.fa-heart
  %section.items__box
    %a{href: ""}
      %figure.items__box__photo
        %img{alt: "", "data-src": ""}/
      .items__box__body
        %h3.items__box-name.font-2 商品名
        .items__box__num
          .items__box__num__price.font-5 値段
          .font-2
            %i.icon-like-border
            %span
            %i.far.fa-heart
.view-all
  %a{href: ""} すべての商品を見る