%header
  .top
    %h1.top__setting
      %a{href: "https://www.mercari.com/jp/"}
        %img.top__image{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2927923569"}/
.center
  .center__item
    %h2.center__item__head 購入内容の確認
    .center__item__buy
      .center__item__buy__inner
        %h3.center__item__buy__inner__image
          %img.center__item__buy__inner__image__item{alt: "item", src: "https://static.mercdn.net/thumb/photos/m24504139973_1.jpg?1563145720", }/
        %p.center__item__buy__inner__item-name 新品未使用！計40kg ダンベルセット
        %form.buy-form{action: "", method: "POST", novalidate: "novalidate"}
          %p.buy-form__price
            ¥ 6,900
            %span.buy-form__price__cost 送料込み
          .buy-form__point
            .buy-form__point__font ポイントはありません
          .buy-form__row
            .buy-form__row__price 支払い金額
            .buy-form__row__price-2 ￥ 6,900
          .buy-form__error 配送先の入力を完了してください。
          = form_tag("/cards", method: :POST, id: "charge-form") do
            %script.payjp-button{id:"payjp-button", :src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_6d636ecdcab8c61c72bee55b"}
    .buy-user
      .buy-user__info
        %h3.buy-user__info__address 配送先
        .buy-user__info__text
          〒000-0000
          %br/
          滋賀県 大津市志賀
          000
          %br/
          メルカリ 太郎
        %a.buy-user-info-fix{href: "https://www.mercari.com/jp/"}
          %span 変更する
          = fa_icon 'angle-right', class: "angle-right"
  .bottom
    %ul.bottom__list
      %li.bottom__list__Exclusion
        %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li.bottom__list__margin
        %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li.bottom__list__margin
        %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.bottom__logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2927923569", width: "80"}/
    %p.bottom__mercari © 2019 Mercari

