.container
  .header
    .header__inner
      .header__inner-top
      .header__inner-nav-box.clearfix

  .main
    .main__banner
    .main__pickup-items
      .main__pickup-items--head
      .main__pickup-items--head
  
  .banner
  
  .footer
    .footer__top
      .footer__top--head
      .footer__top--head
      .footer__top--head
      .footer__top--head

    .footer__bottom
      .footer__bottom--icon
      .footer__bottom--copyright