-# !!!
-# %html
-#   %head
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %meta{:charset => "UTF-8"}/
-#     %title
-#     %link{:href => "reset.css", :rel => "stylesheet"}/
-#     %link{:href => "style.css", :rel => "stylesheet"}/
-#   %body
    .default-container
      %header.sp-header.visible-sp
        .sp-header-inner
          %h1.logo
            %a{:href => ""}
              %img{:alt => "mercari", :src => ""}/
          .sp-header-user-nav.clearfix
            %a.sp-header-btn.btn-red{:href => ""} 新規会員
            %a.sp-header-btn.sp-header-signup{:href => ""} ログイン
        .search-bar
          %form.sp-header-form{:action => ""}
            %input.sp-header-search.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
            %i.icon-search
        %nav.sp-header-nav
          %a{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_カテゴリーから探す", :href => ""}
            %i.icon-list.sp-header-cat-brand-icon
            %span カテゴリーから探す
          %a{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_ブランドから探す", :href => ""}
            %i.icon-tag.sp-header-cat-brand-icon
            %span ブランドから探す
      / .sp-header visible-sp
      %header.pc-header.visible-pc
        .pc-header-inner
          .pc-header-top
            %h1
              %a{:href => ""}
                %img{:alt => "mercari", :height => "36", :src => "", :width => "134"}/
            %form.pc-header-form{:action => ""}
              %input.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
              %i.icon-search
          .pc-header-nav-box.clearfix
            %nav.l-left
              %ul.pc-header-nav
                %li
                  %h2
                    %a.pc-header-nav-root.list-parent{:href => ""}
                      %i.icon-list.pc-header-cat-brand-icon
                      %span カテゴリーから探す
                  %ul.pc-header-nav-parent-wrap{"data-mega" => "1", :style => "width: auto;"}
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-parent
                      %h3
                        %a{:href => ""} レディース
                    %li.pc-header-nav-nochild
                      %h3
                        %a{:href => ""} レディース
                %li
                  %h2
                    %a.pc-header-nav-root.list-parent{:href => ""}
                      %i.icon-tag.pc-header-cat-brand-icon
                      %span ブランドから探す
                    %ul.pc-header-nav-parent-wrap
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} シャネル
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} ナイキ
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} ルイ ヴィトン
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} シュプリーム
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} アディダス
                      %li.pc-header-nav-parent
                        %h3
                          %a{:href => ""} ブランド一覧
            .l-right
              %ul.pc-header-login-nav
                %li
                  %a.sp-header-btn.btn-red{:href => ""} 新規会員登録
                %li
                  %a.sp-header-btn.header-login{:href => ""} ログイン
      / .pc-header visible-pc
      %main.white{:role => "main"}
        %section.owl-carousel.top-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{:style => "left: -2880px; width: 8640px;"}
              .owl-item.cloned{:style => "width: 1440px;"}
                %a.top-banner.banner-camp{:href => ""}
              / .owl-item cloned
              .owl-item.cloned{:style => "width: 1440px;"}
                %div
                  .top-main-visual
                    %div
                      .top-main-visual-content
                        %h2
                          スマホでかんたん
                          %br>/
                          フリマアプリ
                        %p
                          メルカリはスマホカメラからすぐに出品できる
                          %br>/
                          購入時も安心な独自システムのアプリです
                        .top-main-visual-store.clearfix
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
                      %img{:alt => "", :src => ""}/
              / .owl-item cloned
              .owl-item{:style => "width: 1440px;"}
                %a.top-banner.banner-camp{:href => ""}
              / .owl-item active
              .owl-item.active{:style => "width: 1440px;"}
                %div
                  .top-main-visual
                    %div
                      .top-main-visual-content
                        %h2
                          スマホでかんたん
                          %br>/
                          フリマアプリ
                        %p
                          メルカリはスマホカメラからすぐに出品できる
                          %br>/
                          購入時も安心な独自システムのアプリです
                        .top-main-visual-store.clearfix
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
              / .owl-item
              .owl-item.cloned{:style => "width: 1440px;"}
                %a.top-banner.banner-camp{:href => ""}
              / .owl-item cloned
              .owl-item.cloned{:style => "width: 1440px;"}
                %div
                  .top-main-visual
                    %div
                      .top-main-visual-content
                        %h2
                          スマホでかんたん
                          %br>/
                          フリマアプリ
                        %p
                          メルカリはスマホカメラからすぐに出品できる
                          %br>/
                          購入時も安心な独自システムのアプリです
                        .top-main-visual-store.clearfix
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
                          %a.pull-left{:href => "", :target => "_blank"}
                            %img{:alt => "", :src => ""}/
                      %img{:alt => "", :src => ""}/
                  #sp-top.visible-sp
                    #sp-top-banner
                      %h2
                        スマホで
                        %br>/
                        かんたん
                        %br>/
                        フリマアプリ
                      %img{:alt => "", :src => ""}/
                    #sp-top-dl.clearfix
                      %a{:href => ""}
                        %img{:alt => "", :src => ""}/
                      %a{:href => ""}
                        %img{:alt => "", :src => ""}/
              / .owl-item cloned
            / .owl-stage
          / .owl-stage-outer
          .owl-nav
            .owl-prev prev
            .owl-next next
          / .owl-nav
          .owl-dots
            .owl-dot
              %span
            / .owl-dot
            .owl-dot.active
              %span
            / .owl-dot active
          / .owl-dots
        / .owl-carousel top-carousel owl-loaded owl-drag
        %section.pickup-container
          %h2.pickup-head ピックアップカテゴリー
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} レディース 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} メンズ 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} ベビー・キッズ 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} コスメ・香水・美容 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
        / .pickup-container
        %section.pickup-container
          %h2.pickup-head ピックアップカテゴリー
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} シャネル 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} ルイ ヴィトン 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} シュプリーム 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
          %section.items-box-container.clearfix
            %h3.text-center
              %a{:href => ""} ナイキ 新着アイテム
            .items-box-content.clearfix
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
              %section.items-box
                %a{:href => ""}
                  %figure.items-box-photo
                    %img{:alt => "", "data-src" => ""}/
                  .items-box-body
                    %h3.items-box-name.font-2 商品名
                    .items-box-num
                      .items-box-price.font-5 値段
                      .font-2
                        %i.icon-like-border
                        %span いいね数
                      / .font-2
                    / .items-box-num
                  / .items-box-body
              / .items-box
            / .items-box-content clearfix
            .view-all
              %a{:href => ""} すべての商品を見る
          / .items-box-container clearfix
        / .pickup-container
      %aside.app-banner
        .app-banner-pc
          .app-banner-pc-inner
            %h2 スマホでかんたんフリマアプリ
            %p 今すぐ無料ダウンロード！
            .app-banner-icon.clearfix
              %figure
                %img{:alt => "", :src => ""}/
              %ul.clearfix
                %li
                  %a{:href => "", :target => "_blank"}
                    ロゴ
                    %img{:alt => "", :height => "40", :src => "", :width => "133"}/
                %li
                  %a{:href => "", :target => "_blank"}
                    ロゴ
                    %img{:alt => "", :height => "40", :src => "", :width => "133"}/
      %footer.global-footer
        %nav.clearfix
          .footer-cell
            %h2.footer-head メルカリについて
            %ul
              %li
                %a{:href => ""} 会社概要（運営会社）
              %li
                %a{:href => ""} 採用情報
              %li
                %a{:href => ""} プレスリリース
              %li
                %a{:href => ""} 公式ブログ
              %li
                %a{:href => ""} メルカリロゴ利用ガイドライン
              %li.footer-social-link
                %a{:href => ""} アイコン
              %li.footer-social-link
                %a{:href => ""} アイコン
          .footer-cell
            %h2.footer-head ヘルプ＆ガイド
            %ul
              %li
                %a{:href => ""} メルカリガイド
              %li
                %a{:href => ""} らくらくメルカリ便
              %li
                %a{:href => ""} ゆうゆうメルカリ便
              %li
                %a{:href => ""} 大型メルカリ便
              %li
                %a{:href => ""} 車体取引ガイド
              %li
                %a{:href => ""} メルカリあんしん・あんぜん宣言！
              %li
                %a{:href => ""} 偽ブランド品撲滅への取り組み
              %li
                %a{:href => ""} メルカリボックス
          .footer-cell.full-width
            %h2.footer-head プライバシーと利用規約
            .inner-footer-cell
              %ul
                %li
                  %a{:href => ""} プライバシーポリシー
                %li
                  %a{:href => ""} メルカリ利用規約
                %li
                  %a{:href => ""} あんしんスマホサポート制度に関する利用特約
                %li
                  %a{:href => ""} コンプライアンスポリシー
            .inner-footer-cell
              %ul
                %li
                  %a{:href => ""} 個人データの安全管理に係る基本方針
                %li
                  %a{:href => ""} 特定商取引に関する表記
                %li
                  %a{:href => ""} 資金決済法に基づく表示
                %li
                  %a{:href => ""} 法令順守と犯罪抑止のために
                %li
                  %a{:href => ""} 返品・返金ポリシー
          .footer-cell.footer-nav-lang
            %h2.footer-head 国
            %ul
              %li
                %a{:href => ""} 日本
              %li
                %a{:href => ""} United States
        / .clearfix
        .footer-bottom
          %a.footer-logo
            mercariロゴ
            %img{:alt => "", :height => "33", :src => "", :width => "124"}/
          %span.footer-copyright
            %small © 2019 Mercari
      %a.footer-sell-btn{:href => ""}
        %div 出品
    / .default-container
