!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
    %link{:href => "reset.css", :rel => "stylesheet"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
  %body
    .container
      .header
        .header__inner
          .header__inner-top
          .header__inner-nav-box.clearfix


      = render 'item/main'

      .banner

      .footer
        .footer__top
          .footer__top--head
          .footer__top--head
          .footer__top--head
          .footer__top--head

      .footer__bottom
        .footer__bottom--icon
        .footer__bottom--copyright.default-container