<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="default-container">
  <header class="sp-header visible-sp">
    <div class="sp-header-inner">
      <h1 class="logo"><a href=""><img src="" alt="mercari"></a></h1>
      <div class="sp-header-user-nav clearfix">
        <a href="" class="sp-header-btn btn-red">新規会員</a>
        <a href="" class="sp-header-btn sp-header-signup">ログイン</a>
      </div>
    </div>
    <div class="search-bar">
      <form action="" class="sp-header-form">
        <input type="search" name="keyword" value placeholder="何をお探しですか？" class="sp-header-search input-default">
        <i class="icon-search"></i>
      </form>
    </div>
    <nav class="sp-header-nav">
      <a href="" data-ga="element" data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_カテゴリーから探す">
        <i class="icon-list sp-header-cat-brand-icon"></i>
        <span>カテゴリーから探す</span>
      </a>
      <a href="" data-ga="element" data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ブランドから探す">
        <i class="icon-tag sp-header-cat-brand-icon"></i>
        <span>ブランドから探す</span>
      </a>
    </nav>
  </header> <!-- .sp-header visible-sp -->
  <header class="pc-header visible-pc">
    <div class="pc-header-inner">
      <div class="pc-header-top">
        <h1><a href=""><img src="" alt="mercari" width="134" height="36"></a></h1>
        <form action="" class="pc-header-form">
          <input type="search" name="keyword" value placeholder="何をお探しですか？" class="input-default">
          <i class="icon-search"></i>
        </form>
      </div>
      <div class="pc-header-nav-box clearfix">
        <nav class="l-left">
          <ul class="pc-header-nav">
            <li>
              <h2>
                <a href="" class="pc-header-nav-root list-parent">
                  <i class="icon-list pc-header-cat-brand-icon"></i>
                  <span>カテゴリーから探す</span>
                </a>
              </h2>
              <ul class="pc-header-nav-parent-wrap" data-mega="1" style="width: auto;">
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-parent"><h3><a href="">レディース</a></h3></li>
                <li class="pc-header-nav-nochild"><h3><a href="">レディース</a></h3></li>
              </ul>
            </li>
            <li>
              <h2>
                <a href="" class="pc-header-nav-root list-parent">
                  <i class="icon-tag pc-header-cat-brand-icon"></i>
                  <span>ブランドから探す</span>
                </a>
                <ul class="pc-header-nav-parent-wrap">
                  <li class="pc-header-nav-parent"><h3><a href="">シャネル</a></h3></li>
                  <li class="pc-header-nav-parent"><h3><a href="">ナイキ</a></h3></li>
                  <li class="pc-header-nav-parent"><h3><a href="">ルイ ヴィトン</a></h3></li>
                  <li class="pc-header-nav-parent"><h3><a href="">シュプリーム</a></h3></li>
                  <li class="pc-header-nav-parent"><h3><a href="">アディダス</a></h3></li>
                  <li class="pc-header-nav-parent"><h3><a href="">ブランド一覧</a></h3></li>
                </ul>
              </h2>
            </li>
          </ul>
        </nav>
        <div class="l-right">
          <ul class="pc-header-login-nav">
            <li><a href="" class="sp-header-btn btn-red">新規会員登録</a></li>
            <li><a href="" class="sp-header-btn header-login">ログイン</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header> <!-- .pc-header visible-pc -->



  <main class="white" role="main">
    <section class="owl-carousel top-carousel owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="left: -2880px; width: 8640px;">
          <div class="owl-item cloned" style="width: 1440px;">
            <a class="top-banner banner-camp" href=""></a>
        </div> <!-- .owl-item cloned -->
          <div class="owl-item cloned" style="width: 1440px;">
            <div>
              <div class="top-main-visual">
                <div>
                  <div class="top-main-visual-content">
                    <h2>スマホでかんたん<br>フリマアプリ</h2>
                    <p>メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</p>
                    <div class="top-main-visual-store clearfix">
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                    </div>
                  </div>
                  <img src="" alt="">
                </div>
              </div>
            </div>
        </div> <!-- .owl-item cloned -->
          <div class="owl-item" style="width: 1440px;">
            <a href="" class="top-banner banner-camp"></a>
        </div> <!-- .owl-item active -->
          <div class="owl-item active" style="width: 1440px;">
            <div>
              <div class="top-main-visual">
                <div>
                  <div class="top-main-visual-content">
                    <h2>スマホでかんたん<br>フリマアプリ</h2>
                    <p>メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</p>
                    <div class="top-main-visual-store clearfix">
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .owl-item -->
          <div class="owl-item cloned" style="width: 1440px;">
            <a href="" class="top-banner banner-camp"></a>
          </div> <!-- .owl-item cloned -->
          <div class="owl-item cloned" style="width: 1440px;">
            <div>
              <div class="top-main-visual">
                <div>
                  <div class="top-main-visual-content">
                    <h2>スマホでかんたん<br>フリマアプリ</h2>
                    <p>メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</p>
                    <div class="top-main-visual-store clearfix">
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                      <a href="" target="_blank" class="pull-left"><img src="" alt=""></a>
                    </div>
                  </div>
                  <img src="" alt="">
                </div>
              </div>
              <div id="sp-top" class="visible-sp">
                <div id="sp-top-banner">
                  <h2>スマホで<br>かんたん<br>フリマアプリ</h2>
                  <img src="" alt="">
                </div>
                <div id="sp-top-dl" class="clearfix">
                  <a href=""><img src="" alt=""></a>
                  <a href=""><img src="" alt=""></a>
                </div>
              </div>
            </div>
          </div> <!-- .owl-item cloned -->
        </div> <!-- .owl-stage -->
      </div> <!-- .owl-stage-outer -->
      <div class="owl-nav">
        <div class="owl-prev">prev</div>
        <div class="owl-next">next</div>
      </div> <!-- .owl-nav -->
      <div class="owl-dots">
        <div class="owl-dot">
          <span></span>
        </div> <!-- .owl-dot -->
        <div class="owl-dot active">
          <span></span>
        </div> <!-- .owl-dot active -->
      </div> <!-- .owl-dots -->
    </section> <!-- .owl-carousel top-carousel owl-loaded owl-drag -->

    <section class="pickup-container">
      <h2 class="pickup-head">ピックアップカテゴリー</h2>
      <section class="items-box-container clearfix">
        <h3 class="text-center"><a href="">レディース 新着アイテム</a></h3>
        <div class="items-box-content clearfix">
          <section class="items-box">
            <a href="">
            <figure class="items-box-photo"><img data-src="" alt=""></figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">商品名</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">値段</div>
                <div class="font-2">
                  <i class="icon-like-border"></i>
                  <span>いいね数</span>
                </div> <!-- .font-2 -->
              </div> <!-- .items-box-num -->
            </div> <!-- .items-box-body -->
          </a>
        </section> <!-- .items-box -->
        <section class="items-box">
            <a href="">
            <figure class="items-box-photo"><img data-src="" alt=""></figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">商品名</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">値段</div>
                <div class="font-2">
                  <i class="icon-like-border"></i>
                  <span>いいね数</span>
                </div> <!-- .font-2 -->
              </div> <!-- .items-box-num -->
            </div> <!-- .items-box-body -->
          </a>
        </section> <!-- .items-box -->
        <section class="items-box">
            <a href="">
            <figure class="items-box-photo"><img data-src="" alt=""></figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">商品名</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">値段</div>
                <div class="font-2">
                  <i class="icon-like-border"></i>
                  <span>いいね数</span>
                </div> <!-- .font-2 -->
              </div> <!-- .items-box-num -->
            </div> <!-- .items-box-body -->
          </a>
        </section> <!-- .items-box -->
        <section class="items-box">
            <a href="">
            <figure class="items-box-photo"><img data-src="" alt=""></figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">商品名</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">値段</div>
                <div class="font-2">
                  <i class="icon-like-border"></i>
                  <span>いいね数</span>
                </div> <!-- .font-2 -->
              </div> <!-- .items-box-num -->
            </div> <!-- .items-box-body -->
          </a>
        </section> <!-- .items-box -->
        </div> <!-- .items-box-content clearfix -->
        <div class="view-all"><a href="">すべての商品を見る</a></div>
      </section> <!-- .items-box-container clearfix -->

      <section class="items-box-container clearfix">
          <h3 class="text-center"><a href="">メンズ 新着アイテム</a></h3>
          <div class="items-box-content clearfix">
            <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          </div> <!-- .items-box-content clearfix -->
          <div class="view-all"><a href="">すべての商品を見る</a></div>
        </section> <!-- .items-box-container clearfix -->

        <section class="items-box-container clearfix">
            <h3 class="text-center"><a href="">ベビー・キッズ 新着アイテム</a></h3>
            <div class="items-box-content clearfix">
              <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            </div> <!-- .items-box-content clearfix -->
            <div class="view-all"><a href="">すべての商品を見る</a></div>
          </section> <!-- .items-box-container clearfix -->

          <section class="items-box-container clearfix">
              <h3 class="text-center"><a href="">コスメ・香水・美容 新着アイテム</a></h3>
              <div class="items-box-content clearfix">
                <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              </div> <!-- .items-box-content clearfix -->
              <div class="view-all"><a href="">すべての商品を見る</a></div>
            </section> <!-- .items-box-container clearfix -->
    </section> <!-- .pickup-container -->

    <section class="pickup-container">
        <h2 class="pickup-head">ピックアップカテゴリー</h2>
        <section class="items-box-container clearfix">
          <h3 class="text-center"><a href="">シャネル 新着アイテム</a></h3>
          <div class="items-box-content clearfix">
            <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          <section class="items-box">
              <a href="">
              <figure class="items-box-photo"><img data-src="" alt=""></figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">商品名</h3>
                <div class="items-box-num">
                  <div class="items-box-price font-5">値段</div>
                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>いいね数</span>
                  </div> <!-- .font-2 -->
                </div> <!-- .items-box-num -->
              </div> <!-- .items-box-body -->
            </a>
          </section> <!-- .items-box -->
          </div> <!-- .items-box-content clearfix -->
          <div class="view-all"><a href="">すべての商品を見る</a></div>
        </section> <!-- .items-box-container clearfix -->

        <section class="items-box-container clearfix">
            <h3 class="text-center"><a href="">ルイ ヴィトン 新着アイテム</a></h3>
            <div class="items-box-content clearfix">
              <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            <section class="items-box">
                <a href="">
                <figure class="items-box-photo"><img data-src="" alt=""></figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2">商品名</h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">値段</div>
                    <div class="font-2">
                      <i class="icon-like-border"></i>
                      <span>いいね数</span>
                    </div> <!-- .font-2 -->
                  </div> <!-- .items-box-num -->
                </div> <!-- .items-box-body -->
              </a>
            </section> <!-- .items-box -->
            </div> <!-- .items-box-content clearfix -->
            <div class="view-all"><a href="">すべての商品を見る</a></div>
          </section> <!-- .items-box-container clearfix -->

          <section class="items-box-container clearfix">
              <h3 class="text-center"><a href="">シュプリーム 新着アイテム</a></h3>
              <div class="items-box-content clearfix">
                <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              <section class="items-box">
                  <a href="">
                  <figure class="items-box-photo"><img data-src="" alt=""></figure>
                  <div class="items-box-body">
                    <h3 class="items-box-name font-2">商品名</h3>
                    <div class="items-box-num">
                      <div class="items-box-price font-5">値段</div>
                      <div class="font-2">
                        <i class="icon-like-border"></i>
                        <span>いいね数</span>
                      </div> <!-- .font-2 -->
                    </div> <!-- .items-box-num -->
                  </div> <!-- .items-box-body -->
                </a>
              </section> <!-- .items-box -->
              </div> <!-- .items-box-content clearfix -->
              <div class="view-all"><a href="">すべての商品を見る</a></div>
            </section> <!-- .items-box-container clearfix -->

            <section class="items-box-container clearfix">
                <h3 class="text-center"><a href="">ナイキ 新着アイテム</a></h3>
                <div class="items-box-content clearfix">
                  <section class="items-box">
                    <a href="">
                    <figure class="items-box-photo"><img data-src="" alt=""></figure>
                    <div class="items-box-body">
                      <h3 class="items-box-name font-2">商品名</h3>
                      <div class="items-box-num">
                        <div class="items-box-price font-5">値段</div>
                        <div class="font-2">
                          <i class="icon-like-border"></i>
                          <span>いいね数</span>
                        </div> <!-- .font-2 -->
                      </div> <!-- .items-box-num -->
                    </div> <!-- .items-box-body -->
                  </a>
                </section> <!-- .items-box -->
                <section class="items-box">
                    <a href="">
                    <figure class="items-box-photo"><img data-src="" alt=""></figure>
                    <div class="items-box-body">
                      <h3 class="items-box-name font-2">商品名</h3>
                      <div class="items-box-num">
                        <div class="items-box-price font-5">値段</div>
                        <div class="font-2">
                          <i class="icon-like-border"></i>
                          <span>いいね数</span>
                        </div> <!-- .font-2 -->
                      </div> <!-- .items-box-num -->
                    </div> <!-- .items-box-body -->
                  </a>
                </section> <!-- .items-box -->
                <section class="items-box">
                    <a href="">
                    <figure class="items-box-photo"><img data-src="" alt=""></figure>
                    <div class="items-box-body">
                      <h3 class="items-box-name font-2">商品名</h3>
                      <div class="items-box-num">
                        <div class="items-box-price font-5">値段</div>
                        <div class="font-2">
                          <i class="icon-like-border"></i>
                          <span>いいね数</span>
                        </div> <!-- .font-2 -->
                      </div> <!-- .items-box-num -->
                    </div> <!-- .items-box-body -->
                  </a>
                </section> <!-- .items-box -->
                <section class="items-box">
                    <a href="">
                    <figure class="items-box-photo"><img data-src="" alt=""></figure>
                    <div class="items-box-body">
                      <h3 class="items-box-name font-2">商品名</h3>
                      <div class="items-box-num">
                        <div class="items-box-price font-5">値段</div>
                        <div class="font-2">
                          <i class="icon-like-border"></i>
                          <span>いいね数</span>
                        </div> <!-- .font-2 -->
                      </div> <!-- .items-box-num -->
                    </div> <!-- .items-box-body -->
                  </a>
                </section> <!-- .items-box -->
                </div> <!-- .items-box-content clearfix -->
                <div class="view-all"><a href="">すべての商品を見る</a></div>
              </section> <!-- .items-box-container clearfix -->
      </section> <!-- .pickup-container -->



  </main>



  <aside class="app-banner">
    <div class="app-banner-pc">
      <div class="app-banner-pc-inner">
        <h2>スマホでかんたんフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
        <div class="app-banner-icon clearfix">
          <figure>
            <img src="" alt="">
          </figure>
          <ul class="clearfix">
            <li><a href="" target="_blank">ロゴ<img src="" alt="" width="133" height="40"></a></li>
            <li><a href="" target="_blank">ロゴ<img src="" alt="" width="133" height="40"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </aside>





      <footer class="global-footer">
          <nav class="clearfix">
            <div class="footer-cell">
              <h2 class="footer-head">メルカリについて</h2>
              <ul>
                <li><a href="">会社概要（運営会社）</a></li>
                <li><a href="">採用情報</a></li>
                <li><a href="">プレスリリース</a></li>
                <li><a href="">公式ブログ</a></li>
                <li><a href="">メルカリロゴ利用ガイドライン</a></li>
                <li class="footer-social-link"><a href="">アイコン</a></li>
                <li class="footer-social-link"><a href="">アイコン</a></li>
              </ul>
            </div>
            <div class="footer-cell">
              <h2 class="footer-head">ヘルプ＆ガイド</h2>
              <ul>
                <li><a href="">メルカリガイド</a></li>
                <li><a href="">らくらくメルカリ便</a></li>
                <li><a href="">ゆうゆうメルカリ便</a></li>
                <li><a href="">大型メルカリ便</a></li>
                <li><a href="">車体取引ガイド</a></li>
                <li><a href="">メルカリあんしん・あんぜん宣言！</a></li>
                <li><a href="">偽ブランド品撲滅への取り組み</a></li>
                <li><a href="">メルカリボックス</a></li>
              </ul>
              </div>
            <div class="footer-cell full-width">
                <h2 class="footer-head">プライバシーと利用規約</h2>
                <div class="inner-footer-cell">
                <ul>
                  <li><a href="">プライバシーポリシー</a></li>
                  <li><a href="">メルカリ利用規約</a></li>
                  <li><a href="">あんしんスマホサポート制度に関する利用特約</a></li>
                  <li><a href="">コンプライアンスポリシー</a></li>
                </ul>
                </div>
                <div class="inner-footer-cell">
                <ul>
                  <li><a href="">個人データの安全管理に係る基本方針</a></li>
                  <li><a href="">特定商取引に関する表記</a></li>
                  <li><a href="">資金決済法に基づく表示</a></li>
                  <li><a href="">法令順守と犯罪抑止のために</a></li>
                  <li><a href="">返品・返金ポリシー</a></li>
                </ul>
                </div>
            </div>
            <div class="footer-cell footer-nav-lang">
                <h2 class="footer-head">国</h2>
                <ul>
                  <li><a href="">日本</a></li>
                  <li><a href="">United States</a></li>
                </ul>
            </div>
          </nav> <!-- .clearfix -->
          <div class="footer-bottom">
            <a class="footer-logo" ="#">mercariロゴ<img src="" alt="" width="124" height="33" alt="mercari"></a>
            <span class="footer-copyright"><small>© 2019 Mercari</small></span>
          </div>
      </footer>
          <a class="footer-sell-btn" href="">
          <div>出品</div>
        </a>
</div> <!-- .default-container -->











</body>
</html>