.container
  = render 'item/header'
  %main.item-container.l-container.clearfix
    .l-content
      %h2.deleted-item-name m70068440240 この商品は削除されました
      %section.items-box-container.clearfix.items-box-overflow
        %h2.items-box-head
          %a{href: ""}
            コーチのショルダーバッグ その他の商品
        .items-box-content.clearfix
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2 正規店購入 コーチ 2WAYショルダー
                .items-box-num
                  .items-box-price.font-5 ¥ 7,800
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            %a{href: ""}
              %figure.items-box-photo
                %img.is-higher-height.lazyloaded(src="" alt="")/
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
    .l-side
      .l-visible-large
        %a.side-banner{href: "", target: "_blank"}
          %img(src="//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?2927923569" alt="Download Mercari Now")/
  = render 'aside'
  = render "footer"