.sign-up-footer
  .sign-up-nav
    .sign-up-nav__clearfix
      .sign-up-nav__clearfix__left プライバシーポリシー
      .sign-up-nav__clearfix__middle メルカリ利用規約
      .sign-up-nav__clearfix__right 特定商取引に関する表記
  .footer-logo
    = image_tag "logo-gray.svg", size: "80x65"
  %p
    %small © 2019 Mercari