.sign-up-container
  = render 'sign-up-header'
  .sign-up-main-box
    .sign-up-main-box__content
      .no-account
        .sign-up-btn
          %button{class: "sign-up__new-user"}新規会員登録
      .auth-sns
        .facebook-btn
          %button{class: "sign-up__btn--facebook"}Facebookでログインする
        .google-btn
          %button{class: "sign-up__btn--google"}Googleでログインする
      .login-form
      
  = render 'sign-up-footer'