.mypages__user
  %a{:href => "https://www.mercari.com/jp/u/188544359/"}
    %figure
      %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
    %h2.bold メルカリ太郎
    .mypage-number
      %div
        評価
      %span.bold 10
      %div
        出品数
      %span.bold 10