.mypages__user
  = link_to image_tag("icon.png"),"https://www.mercari.com/jp/u/188544359/"
  %figure
  %h2.bold メルカリ太郎
  .mypage-number
    %div
      評価
    %span.bold 10
    %div
      出品数
    %span.bold 10