.under-exhibition {
  margin: 40px auto 0;
  width: 1020px;
}
.edit-container{
background: #fff;
padding: 8px 16px 8px 16px;
width:700px;
margin:80px 180px 0px 340px;
}
.comment-container{
  padding: 24px;
  background-color: white;
  height:262px;
  width:700px;
  margin:80px 180px 70px 340px;
}

.exhibition-container .item-box-container{
  margin:80px 180px 0px 340px;
}
.edit-container .btn-default.btn-red{
   max-width:700px;
   margin-top:16px;
}
.edit-container .btn-default.btn-gray{
  max-width:669px;
  margin-top:16px;
  width:700px;
  margin-left:0px;
  margin: 16px 0 16px 0;
  font-size:14px;
}
.edit-container p{
  height:10px;
}
.comment-container p{
  padding: 8px;
  font-size: 14px;
  background: #fff6de;
}
.text-form{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.comment-container .btn-default.btn-gray{
  max-width:669px;
  margin-top:16px;
  width:700px;
  margin-left:0px;
  margin: 16px 0 16px 0;
  font-size:14px;
}
