.logout-container {
  margin: 40px auto;
  width: 700px;
  padding: 64px;
  background-color: white;
  float: right;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}