.logout-container {
  float: right;
  margin: 90px 50px 0 0;
  width: 700px;
  padding: 90px;
  background-color: white
}
.smsbtn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}