%main.cards-container
  %section.rside-box
    %h2.rside-box__top 支払い方法
    .content-inner
      .section
        .content-inner__list
          %h3.content-inner__list--h3 クレジットカード一覧
      .section.inner-interval
        .content-inner__list
          .btn-default.btn-red.card-add-button
            = link_to "クレジットカードを追加する"
            %i.icon-card
      .not-regist
        = link_to do
          支払い方法について
          %i.icon-arrow