%main.cards-container
  %section.rside-box
    %h2.rside-box__top 支払い方法
    .content-inner
      .section
        .content-inner__list
          %h3.content-inner__list--h3 クレジットカード一覧
      .section.inner-interval
        .content-inner__list
          %a.btn-default.btn-red.submit_button{href: "#", target: "_blank"}
            %i.icon-card
            クレジットカードを追加する
      .not-regist
        %a{href: "/cards/new", target: "_blank"}
          支払い方法について
          %i.icon-arrow
           