.card-add-button {
  margin-top: 32px;
}
.single-main{
  &__container{
    &--form{
      padding: 40px 16px;
      max-width: 320px;
      margin: 0 auto;
      .form-group{
        margin: 40px 0 0;
        &:first-child {
          margin: 0;
        }
        label{
          font-weight: 600;
          font-size: 14px;
          display: inline-block;
        }
        &__require{
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          background: #ea352d;
        }
        &__input{
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        &__ul{
          display:block;
          margin: 8px 0 0;
          li{
            display: inline-block;
          }
        }
        &__text{
          text-align: right;
          color: #0099e8;
          font-size: 14px;
          span{
            background-color: #0099e8;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            color: white;
            text-align: center;
            display: inline-block;
          }
        }
        .select-wrap{
          margin: 8px 0 0;
          position: relative;
          background: #fff;
          display: inline-block;
          width: 35%;
        }
      }
    }
  }
}