// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.l-container {
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
}

main {
display: block;
}

.l-content {
float: right; 
width: 700px;
}

.mypage-user-icon {
position: relative;
height: 155px;
padding: 20px;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
height: 200px;
}

.l-side {
float: left;
width: 280px;
margin: 0 40px 0 0;
}

.mypage-tab-container-notification-todo {
margin: 0;
background: #fff;
}

.mypage-tabs, .listing-tabs, .review-history-tabs {
border: 0;
background: #eee;
font-size: 0;
}

.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
border-top: 2px solid #ea352d;
}

.mypage-user-icon>a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #333;
}

.mypage-tab-container-notification-todo {
  margin: 0;
  background: #fff;
}

.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
  padding:0;
}

.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}

.mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.mypage-tabs li {
  width: 50%;
}

.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}
.mypage-tabs a {
  color: #0099e8;
  text-decoration: none;
}
.tab-content .tab-pane.active {
  display: block;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.tab-content .tab-pane.active {
  display: block;
}
.mypage-item-link {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}
.mypage-item-link figure {
  position: relative;
  overflow: hidden;
  float: left;
  width: 48px;
  height: 48px;
}
.mypage-item-list img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
img {
  vertical-align: middle;
}

.mypage-item-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.mypage-item-link time {
  display: inline-block;
  color: #888;
}
.mypage-item-link .icon-time {
  margin: 0 8px 0 0;
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-time {
  font-size: 16px;
  vertical-align: middle;
}
.mypage-item-link time span {
  vertical-align: middle;
}
.mypage-item-link time {
  display: inline-block;
  color: #888;
}
.mypage-item-body {
  margin: 0 40px 0 68px;
}
.mypage-item-link .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.mypage-item-link .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.mypage-item-link {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-item-list li:last-child {
  border: 0;
}
.mypage-go-list {
  padding: 16px;
}
.tab-content .tab-pane.active {
  display: block;
}

.mypage-nav-head {
    margin: 40px 0 0;
}
.mypage-nav-list-item.active {
  background: #eee;
  font-weight: 600;
}
.mypage-nav-list-item a{
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.l-side {
   margin: 40px auto 0; 
}
.mypage-user-icon {
  position: relative;
  height: 155px;
  padding: 20px;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?36380069);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.modal-banner-eye-catch img:first-child {
  width: auto;
  height: 100%;
}
img {
  vertical-align: middle;
}
.mypage-nav-list-item.active {
  background: #eee; 
  font-weight: 600;
}
.mypage-nav-list-item {
  /* position: relative; */
  display: block;
  min-height: 48px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
}

.mypage-item-list li:last-child {
  border: 0;
}
.mypage-go-list {
  padding: 16px;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-go-list a {
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
}
.tab-content .tab-pane.active {
  display: block;
}
.mypage-item-not-found {
  padding: 160px 0 60px;
  background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?36380069);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}

.icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}
.mypage-nav-list-item.active .icon-arrow-right {
  color: #333;
}
body{
  background-color: #EEEEEE
}
nav ul {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.icon-arrow-right:before {
  content:'f0da';
}
.fas-fa-caret-right:before{
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.mypage-number {
  margin: 8px 0 0;
  font-size: 0;
}
.mypage-number div {
  display: inline-block;
  font-size: 14px;
}

.mypage-tabs li {
  width: 50%;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.mypage-item-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}
:root {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font: 66.66667% sans-serif;
}
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.mypage-nav-list li {
  border-top: 1px solid #eee;
}

.mypage-item-link {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}
.mypage-tabs a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
}
.mypage-tab-container {
  margin: 40px 0 0;
  background: #fff;
}
.mypage-tab-head {
  padding: 0 16px;
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
}
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.mypage-item-link.fa-caret-right {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.tab-content .tab-pane.active {
  display: block;
}
.tab-content .tab-pane {
  display: none;
}
.mypage-user-icon h2 {
  margin: 8px 0 0;
  font-size: 14px;
}
.mypage-number div {
  display: inline-block;
  font-size: 14px;
}
body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

